<div id="<%= dom_id gig %>">
  <p>
    <strong>Name:</strong>
    <%= gig.name %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= gig.bio %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= gig.price %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= gig.slug %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= gig.account_id %>
  </p>

  <p>
    <strong>Gigsable:</strong>
    <%= gig.gigsable_id %>
  </p>

</div>
