<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-5">
        <div class="card w-100">
          <div class="card-body">
            <ul class="nav nav-tabs nav-pills nav-pills-soft flex-column fw-bold gap-2 border-0">
              <li class="nav-item" data-bs-dismiss="offcanvas">
                <%= link_to 'Изменить email', rodauth.change_login_path, class: 'nav-link d-flex mb-0' %>
              </li>
              <li class="nav-item" data-bs-dismiss="offcanvas">
                <%= link_to 'Изменить пароль', rodauth.change_password_path, class: 'nav-link d-flex mb-0 active' %>
              </li>
              <li class="nav-item" data-bs-dismiss="offcanvas">
                <%= link_to 'Закрыть аккаунт', rodauth.close_account_path, class: 'nav-link d-flex mb-0' %>
              </li>
              <li class="nav-item" data-bs-dismiss="offcanvas">
                <%= link_to 'Выйти', rodauth.logout_path, class: 'nav-link d-flex mb-0' %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6 vstack gap-4">
        <div class="card">
          <div class="card-header border-0 pb-0">
            <h4 class="card-title h5">Изменение пароля</h4>
            <p class="mb-0">Вы действительно хотите изменить пароль?</p>
          </div>
          <div class="card-body">
            <%= form_with url: rodauth.change_password_path, method: :post, data: { turbo: false } do |form| %>
              <% if rodauth.change_password_requires_password? %>
                <div class="mb-3">
                  <%= form.label "password", rodauth.password_label, class: "form-label" %>
                  <%= form.password_field rodauth.password_param, value: "", id: "password", autocomplete: rodauth.password_field_autocomplete_value, required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.password_param)}", aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param)) %>
                  <%= content_tag(:span, rodauth.field_error(rodauth.password_param), class: "invalid-feedback", id: "password_error_message") if rodauth.field_error(rodauth.password_param) %>
                </div>
              <% end %>
              <div class="mb-3">
                <%= form.label "new-password", rodauth.new_password_label, class: "form-label" %>
                <%= form.password_field rodauth.new_password_param, value: "", id: "new-password", autocomplete: "new-password", required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.new_password_param)}", aria: ({ invalid: true, describedby: "new-password_error_message" } if rodauth.field_error(rodauth.new_password_param)) %>
                <%= content_tag(:span, rodauth.field_error(rodauth.new_password_param), class: "invalid-feedback", id: "new-password_error_message") if rodauth.field_error(rodauth.new_password_param) %>
              </div>
              <% if rodauth.require_password_confirmation? %>
                <div class="mb-3">
                  <%= form.label "password-confirm", rodauth.password_confirm_label, class: "form-label" %>
                  <%= form.password_field rodauth.password_confirm_param, value: "", id: "password-confirm", autocomplete: "new-password", required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.password_confirm_param)}", aria: ({ invalid: true, describedby: "password-confirm_error_message" } if rodauth.field_error(rodauth.password_confirm_param)) %>
                  <%= content_tag(:span, rodauth.field_error(rodauth.password_confirm_param), class: "invalid-feedback", id: "password-confirm_error_message") if rodauth.field_error(rodauth.password_confirm_param) %>
                </div>
              <% end %>
              <div class="mb-0">
                <%= form.submit rodauth.change_password_button, class: "btn btn-primary w-100" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
