<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title><%= @page_title || "Default title" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'fw.all.min', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'bootstrap-icons', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'OverlayScrollbars.min', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'tiny-slider', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'choices.min', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'glightbox.min', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'dropzone', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'flatpickr', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'plyr', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'style', 'data-turbo-track': 'reload'%>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'bootstrap.bundle.min', 'data-turbo-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/shared/header' %>
    <main>
      <%= render 'layouts/shared/system_notification' %>
      <%= yield %>
    </main>
    <%= javascript_include_tag 'tiny-slider', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'OverlayScrollbars.min', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'choices.min', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'glightbox.min', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'flatpickr.min', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'plyr', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'dropzone.min', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'functions', 'data-turbo-track': 'reload' %>
  </body>
</html>
